___

# __KompreJuntoChallenge__
___

In [477]:
import pandas as pd
import os

In [562]:
preco = pd.read_excel('preco-por-codigo-e-peso.xlsx')
dados = pd.read_excel('codigo-por-cep.xlsx')

In [479]:
print(os.getcwd())

c:\Users\Guilherme da Franca\OneDrive\Área de Trabalho\KompreJuntoChallenge-main\KompreJuntoChallenge-main\CSVs

# Informações da entrega:

In [551]:
peso = float(input("Qual o peso de cada unidade do produto em gramas?"))

peso

30000.0

In [535]:
largura = float(input ('Qual a largura para cada unidade de produto em metros?'))
altura = float(input ('Qual a altura para cada unidade de produto em metros?'))
profundidade = float(input ('Qual a profundidade para cada unidade de produto em metros?'))

largura, altura, profundidade

(0.3, 0.3, 0.3)

In [536]:
quantidade = float(input("Qual a quantidade comprada?"))

quantidade

2.0

In [537]:
CEP = int(input("Qual o CEP de entrega? Ps:apenas digitos"))

CEP

13183006

# Cálculo dos Preços:

In [552]:
packing = 5.72
picking = round (0.28 * quantidade, 2)
armz = largura * altura * profundidade * 0.000001 * 49.98 * quantidade
kilos = peso * quantidade * 0.001 * 0.91

packing,picking, armz,kilos

(5.72, 0.56, 2.6989199999999994e-06, 54.6)

## Descobrindo Código Postal:

In [553]:
cep = dados.loc [(dados['CEP Final'] >= CEP)&(dados['CEP Inicial'] <= CEP)]
cep

,CEP Inicial,CEP Final,UF,IBGE do Município,Nome do Município (Base IBGE),Base,Risco,Prazo,Tipo de Atendimento,Localidade Comercial,Geografia Comercial
3851,13183005,13183011,SP,3519071,HORTOLANDIA,CPQ,Altíssimo,3,Atendido,Interior,SPB

In [554]:
codigo_postal = cep.iloc[0]['Geografia Comercial']
codigo_postal

'SPB'

## Descobrindo o peso:

In [555]:
preco.dtypes

peso-maximo      float64
codigo-regiao     object
preco            float64
dtype: object

In [556]:
preco.head(5)

   peso-maximo codigo-regiao  preco
0         0.25          SPC    6.27
1         0.30          SPC    6.27
2         0.50          SPC    6.27
3         0.75          SPC    7.59
4         1.00          SPC    7.59

In [557]:
Preco_peso = preco.loc[(preco ['peso-maximo']>=peso*0.001)]
peso_frete = Preco_peso.iloc[0]['peso-maximo']
Preco_peso = Preco_peso.loc[Preco_peso['peso-maximo'] == peso_frete]
Preco_peso

     peso-maximo codigo-regiao   preco
33          30.0          SPC    44.64
67          30.0          SPG    44.64
101         30.0          SP1    54.51
135         30.0          SP2    54.51
169         30.0          SP3    54.51
203         30.0          SPB   152.62

## Descobrindo o preço do Frete:

In [558]:
Preco_peso['codigo-regiao'] = Preco_peso['codigo-regiao'].str.replace(' ', '') 
Preco_peso

     peso-maximo codigo-regiao   preco
33          30.0           SPC   44.64
67          30.0           SPG   44.64
101         30.0           SP1   54.51
135         30.0           SP2   54.51
169         30.0           SP3   54.51
203         30.0           SPB  152.62

In [559]:
frete = Preco_peso.loc[Preco_peso['codigo-regiao'] == codigo_postal]
frete

     peso-maximo codigo-regiao   preco
203         30.0           SPB  152.62

In [560]:
preco_frete = frete.iloc[0]['preco']
preco_frete

152.62

___
# __Orçamento Final__
___

In [561]:
orcamento = round(packing + picking + armz + kilos + preco_frete,2)
orcamento

213.5

___

# __Casos__

___

### __Caso 1__
##### Parâmetros:

>- Peso do produto: 250g
>- Dimensões do produto: 0,2 x 0,2 x 0,3m
>- Quantidade de produtos: 2un.
>- CEP: 05612-050

__Saída esperada:__

R$ 13,01

### __Caso 2__
##### Parâmetros:

>- Peso do produto: 1200g
>- Dimensões do produto: 0,4 x 0,2 x 0,5m
>- Quantidade de produtos: 3un.
>- CEP: 04520-010

__Saída esperada:__
R$ 18,98

### __Caso 3__
##### Parâmetros:

>- Peso do produto: 2000g
>- Dimensões do produto: 1 x 1 x 0,5m
>- Quantidade de produtos: 1un.
>- CEP: 07115-000

__Saída esperada:__
R$ 16,96

### __Caso 4 (teste)__
##### Parâmetros:

>- Peso do produto: 13000g
>- Dimensões do produto: 2 x 3 x 0,5m
>- Quantidade de produtos: 10un
>- CEP: 06142-000

__Saída esperada:__
R$ 147,06

### __Caso 5 (teste)__
##### Parâmetros:

>- Peso do produto: 7000g
>- Dimensões do produto: 1,5 x 1,2 x 2,5m
>- Quantidade de produtos: 3un.
>- CEP: 11630-000

__Saída esperada:__
R$ 43,32

### __Caso 6 (teste)__
##### Parâmetros:

>- Peso do produto: 30000g
>- Dimensões do produto: 0,3 x 0,3 x 0,3m
>- Quantidade de produtos: 2un.
>- CEP: 13183-006

__Saída esperada:__
R$ 213,5